<!DOCTYPE html>
<html lang="en">
 
<head>
    <meta charset="UTF-8">
    <link href=
"https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
          rel="stylesheet">
</head>
 
<body>
    <div class="h-full border-2 border-gray-200
                border-opacity-60 rounded-lg
                overflow-hidden">
 
        <div class="p-6 hover:bg-green-600
                    hover:text-white transition
                    duration-300 ease-in">
                    <h1 class="text-2xl font-semibold mb-3">
                        <a href="/"><img src="/images/logo.png" width="200" alt=""></a> 
                    </h1>
            <h3 class="text-2xl font-semibold mb-3">
                <a href="/items">Одежды</a>
            </h3>
            <h3 class="text-2xl font-semibold mb-3">
                <a href="/items/new">Добавить новые товары</a>
            </h3>
        </div>
    </div>
    <div>
        <img src="/images/bgg.png" alt="">
    </div>
</body>
 
